@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: Nunito, sans-serif;
  min-height: 100vh;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}

.container {
  width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: lightblue;
}

img {
  display: block;
  max-width: 100%;
}
